<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Writing</title>
  <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<header>
  <nav id="top-nav" class="image-text-container">
    <div class="top-image">
      <ul class="horizontal-menu">
        <li><a href="Home.html">홈</a></li>
        <li><a href="Profile.html"> 프로필</a></li>
        <li><a href="Video.html"> 동영상</a></li>
        <li><a href="Write.html"> 게시판</a></li>
      </ul>
      <img src="https://yt3.googleusercontent.com/56p5IuF8e4_r6wQihpu1NDmWvBG25CYLjr9Yrde1MZWbsp0iN2vm8AK1lyC1I-7rNMi3MnlybDQ=w2276-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj" alt="성녀님 사진" >
    </div>

  </nav>

</header>
<div id="todo-list">
  <form action="write" method="post">
    <input type="text" name="value" required>
    <button type="submit">입력</button>
  </form>
  <table>
    <thead>
    <tr>
      <th>내용</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${User}">
      <td th:text="${todo.value}">내용</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>